.form-control {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
}
.form-control label {
    position: relative;
    font-size: 1rem;
    font-family: "inter", sans-serif
}
.form-control input {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    width: 100%;
    box-sizing: border-box;
    font-family: "inter", sans-serif;

}
.form-control .message {
    width: 100%;
    font-size: .8rem
}
.form-control .alert {
    color: #ff0000
}
.form-control .success {
    color: #009300
}