.heroList {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-start;
}
.heroList img {
    height: 48px;
    width: 48px;
}
.heroList .normal {
    height: 24px;
    width: 24px;
}
.heroList h3 {
    margin: 0;
    font-weight: var(--link-weight);
    color: var(--secondary-color);
}
.heroList p {
    margin: 0;
    font-weight: var(--normal-weight);
    color: var(--secondary-color-opacity);
}