.filterTable {
    display: flex;
    flex-direction: column;
}
.filterTable thead {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px 8px 0 0;
    text-align: left;
    padding: 12px;
}
.filterTable thead tr {
    display: flex;
    gap: 12px;
}
.filterTable th {
    padding: 8px;
    border-radius: 4px;
    border: .5px solid var(--border-color);
    cursor: pointer;
    font-weight: var(--normal-weight);
    font-size: var(--ex-small-size);
    color: var(--secondary-color-opacity);
    font-weight: 600;
}
.filterTable th.actived {
    background: #F7F8FA;
    color: var(--primary-color)
}
.filterTable tbody {
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 8px;
}

.filterTable .fields {
    padding: 18px 12px;
    background: #F7F8FA;
    font-weight: 600;
    border-radius: 8px 8px 0 0;
    border-top: 1px solid var(--border-color);
}
.filterTable tbody tr {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 60px;
    padding: 12px;
    box-sizing: border-box;
    padding: 24px 12px;
    border-bottom: 1px solid var(--border-color)
}
.filterTable tr.map td {
    position: relative;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}
.filterTable td .actived {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(0, 255, 0);
}
.filterTable td .noActived {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(255, 38, 0);
}
.filterTable td .completed {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--main-color);
}
.filterTable .noData {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 48px 0;
}
.filterTable .noData img {
    height: 164px;
    width: 165px
}
.filterTable .noData div {
    max-width: 600px;
}
.filterTable .noData p {
    color: var(--terciary-color);
    margin-top: 8px;
    margin-bottom: 24px;
}
.filterTable .noData h3 {
    margin-bottom: 0;
}
.filterTable td svg {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
}
.filterTable .dropdownDiv span button,
.filterTable .dropdown {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}
.filterTable .dropdown svg {
    fill: var(--secondary-color-opacity);
    cursor: pointer;
}
.filterTable .acts {
    justify-content: center;
}
.filterTable .dropdownDiv {
    position: absolute;
    top: -94px;
    right: -10px;
    width: 90px;
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #F7F8FA;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    gap: 12px;
    padding: 8px;
    font-size: var(--ex-small-size);
    opacity: 0;
    z-index: -1;
}
.filterTable .dropdownDiv span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filterTable .dropdownDiv svg {
    height: 16px;
    width: 16px;
    margin-top: 2px;
}
.filterTable .dropdownDiv svg {
    fill: var(--secondary-color-opacity);
}
.filterTable .dropdownDiv a,
.filterTable .dropdownDiv button {
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
}
.filterTable .dropdownDiv button svg {
    color: #ff0000;
}
.filterTable .dropdownActived {
    z-index: 1000;
    opacity: 1;
}
.filterTable .inicio {
    justify-content: center;
}
.filterTable .inicio svg {
    width: 18px;
    height: 18px;
}
@media (max-width: 425px) {
    .filterTable {
        background-color: #fff;
    }
    .filterTable tbody tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .responsive {
        display: none!important;
    }
}