.specificProject {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}
.modal .forms {
    position: relative;
    width: 400px;
    border-radius: 12px;
    padding: 24px;
    border: 1px solid var(--border-color);
    background: #fff;
}
.modal .forms h2 {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: var(--link-weight);
    color: var(--secondary-color);
    fill: var(--main-color);
    margin-bottom: 48px;
}
.modal .forms h2 img {
    height: 24px;
    width: 24px;
}
.modal .forms .formControl {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
}
.modal .forms > div > label {
    position: relative;
    font-size: 1rem;
    font-weight: var(--link-weight);
}
.modal .forms input {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    box-shadow: var(--shadow);
}
.modal input[type="date"] {
    color: #757575;
}
.modal input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}  
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.modal button {
    width: 100%;
    outline: none;
    border: none;
    background: var(--main-color);
    color: #fff;
    padding: 12px 18px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'inter', sans-serif;
}
.modal .close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
.modal .close svg {
    height: 18px;
    width: 18px;
    fill: #ff0000;
}
.botao {
    position: absolute;
    top: 42px;
    right:0;    
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    background: #7b00ff;
    padding: 12px;
    width: 120px;
    border-radius: 4px;
    text-decoration: none;
    font-size: var(--ex-small-size);
    font-family: 'Inter', sans-serif
}
.noData {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 48px 0;
}
.noData img {
    height: 164px;
    width: 165px
}
.noData div {
    max-width: 600px;
}
.noData p {
    color: var(--terciary-color);
    margin-top: 8px;
    margin-bottom: 24px;
}
.noData h3 {
    margin-bottom: 0;
}
.noData .botao {
    position: relative;
    margin-top: -10px;
    padding: 12px;
    top: 0;
}
.forms .true {
    color: #ff0000;
    padding: 8px;
    text-align: center;
}
.forms .false {
    color: #00ff00;
    padding: 8px;
    text-align: center;
}
@media (max-width: 425px) {
    .modal .forms {
        width: 95%;
        box-sizing: border-box;
    }
    .modal .forms h2 {
        gap: 4px;
        font-size: var(--normal-size);
    }
    .noData {
        padding: 72px 0;
    }
}