.menu {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* overflow-x: hidden; */
}
.menu.active {
    z-index: 1000;
}
.menu ul.menuNormal {
    position: relative;
    height: 100vh;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    transform: translateX(100%);
    transition: 500ms;
    padding-top: 60px;
    padding-left: 56px;
    background-color: #fff;
    z-index: 1000;
}
.menu > div {
    position: absolute;
    top: 20px;
    right: 12px;
    width: 32px;
    height: 24px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 4px;
    transition: 500ms;
    z-index: 1000;
    cursor: pointer;
    z-index: 1000000;
}
.menu .notification-link,
.menu li a {
    cursor: pointer;
    position: relative;
    font-size: 40px;
}
.menu .notification-link svg,
.menu li a svg {
    height: 40px;
    width: 40px;;
}
.menu > div > div {
    height: 2px;
    border-radius: 4px;
    background-color: #000;
}
.menu div.active {
    transition: 500ms;
}
.menu ul.menuNormal.active {
    transition: 500ms;
    transform: translateX(0%);
}
.menu ul.menuNormal span {
    position: relative;
}
@media (min-width: 862px) {
    .menu-div {
        height: 100vh;
    }
    .menu {
        position: fixed;
        height: 100vh;
        width: 240px;
        padding-top: 24px;
        border-right: 1px solid var(--border-color);
        box-sizing: border-box;
        z-index: 10;
    }
    .menu .logo-div {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--border-color);
        background: #fff;
    }
    .menu .logo {
        padding-left: 18px;
        margin-bottom: 24px;
    }
    .menu ul.menuNormal {
        transform: translateX(0);
        background: #fff;
        height: 100%;
        width: 100%;
        padding: 12px;
        padding-top: 24px;
        box-sizing: border-box;
    }
    .menu ul.menuNormal .bottom {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
    }
    .menu ul.menuNormal li {
        width: 100%;
    }
    .menu .notification-link {
        display: flex;
    }
    .menu .notification-link,
    .menu ul.menuNormal li a {
        font-size: 18px;
        padding: 12px;
        gap: 6px;
    }
    .menu .notification-link.actived,
    .menu li a:hover {
        color: #9300FF;
        fill: #9300FF
    }
    .menu .notification-link svg,
    .menu li a svg {
        width: 18px;
        height: 18px;
    }
    .menu > div {
        display: none;
    }
    .menu .badge {
        position: absolute;
        left: -10px;
        top: -16px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: var(--exxx-small-size);
        font-weight: bolder;
        color: #fff;
        background: #ff0000;
        /* border: 1px solid rgba(0, 0, 0, .25); */
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    }
    .notification-menu {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 150%;
        background: #fff;
        list-style: none;
        box-sizing: border-box;
        padding: 0;
        /* padding-top: 24px; */
        margin-top: 0;
        z-index: -1;
        transform: translateX(calc(0));
        transition: 500ms;
        opacity: 0;
        border-right: 1px solid var(--border-color);
        background: #f5f5f5!important;
        overflow-y: scroll;
    }
    .notification-menu a {
        margin: 0;
        display: grid;
        grid-template-columns: 48px 1fr;
        gap: 12px;
        text-decoration: none;
        padding: 24px 12px;
        border-bottom: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        color: var(--secondary-color)!important;
        font-weight: var(--normal-weight)!important;
        background: transparent!important;
        /* background: #f5f5f5!important; */
        font-size: var(--small-size)!important;
    }
    .notification-menu > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 32px 12px 16px 12px;
        background: #fff!important;
        border-bottom: 1px solid var(--border-color)
    }
    .notification-menu h4 {
        gap: 6px;
        display: flex;
        margin: 0;
        color: var(--main-color);
        font-size: var(--normal-size);
        font-weight: var(--link-weight);
    }
    .notification-menu li {
        padding: 18px 12px;
    }
    .notification-menu li {
        background: #fafafa;
        border-bottom: 1px solid var(--border-color)
    }
    .notification-menu.actived {
        transition: 500ms;
        z-index: 1;
        opacity: 1;
        transform: translateX(calc(100% + 1px));
    }
    .notification-menu .div-svg {
        display: flex;
        align-items: center;
    }
    .notification-menu .div-svg svg {
        height: 32px;
        width: 32px;
        fill: var(--secondary-color-opacity);
    }
    .notification-menu .notification-text svg {
        height: 16px;
        width: 16px;
    }
    .notification-menu .notification-text {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .notification-menu .color-normal {
        fill: var(--main-color);
        font-weight: var(--link-weight);
        color: var(--main-color);
    }
    .notification-menu .color-exclude {
        fill: #ff0000;
        font-weight: var(--link-weight);
        color: #ff0000;
    }
    .notification-menu .text-middle {
        padding: 6px 0 8px 0;
    }
    .notification-menu .text-bottom {
        position: absolute;
        bottom: -20px;
        right: 0;
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: var(--link-weight);
        font-size: var(--exx-small-size);
        color: var(--secondary-color-opacity);
    }
    .notification-menu .text-top {
        /* position: absolute;
        top: -12px; */
        font-size: var(--ex-small-size)
    }
}
@media (max-width: 425px) {
    .true {
        background: #f5f5f5;
    }
    .menu .logo-div {
        display: none;
    }
    .menu .logo {
        display: none;
    }
    .menu .notification-link,
    .menu li a {
        gap: 24px;
    }
}