main.main {
    position: relative;
    width: 100%;
    margin-top: -160px;
    z-index: 1;
}
.main section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}
section.top {
    margin-top: 124px;
}
section .content {
    width: 100%;
    max-width: 920px;
}
.sides {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}
.sides p {
    width: 130px;
    padding-left: 8px;
    margin: 0;
    font-weight: var(--normal-weight);
    border-left: 2px solid var(--main-color);
    color: var(--secondary-color-opacity);
    font-size: var(--ex-small-size)
}
.payment {
    position: relative;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-top: 12px;
    padding: 36px 0 0 0;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, .1)
}
.payment > p {
    color: var(--main-color);
    margin: 0;
    padding: 8px;
    border-radius: 4px;
    background: #9500ff16;
    font-size: var(--ex-small-size);
}
.payment h5 {
    position: relative;
    font-size: var(--big-size);
    color: var(--secondary-color);
    margin: 0;
}
.payment h5 .top {
    position: absolute;
    top: 0;
    left: -16px;
    font-weight: var(--link-weight);
    font-size: var(--exx-small-size);
}
.payment h5 .bottom {
    position: absolute;
    bottom: 0;
    right: -28px;
    font-weight: var(--link-weight);
    font-size: var(--exx-small-size);
}
.payment h6 {
    margin: 0;
    font-weight: var(--normal-weight);
    font-size: var(--small-size);
    color: var(--secondary-color-opacity);
}
.payment a {
    text-decoration: none;
    padding: 24px 0;
    width: 100%;
    background: var(--main-color);
    color: #fff;
    font-weight: var(--link-weight);
    text-align: center;
    border-radius: 0 0 12px 12px;
}