.table {
    position: relative;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    background: #fff;
    overflow: hidden;
}
.table thead {
    background-color: #F7F8FA;
    border: 1px solid var(--border-color);
    border-radius: 8px 8px 0 0;
    text-align: left;
    padding: 12px;
}
.table thead tr {
    display: grid;
    grid-template-columns: 70px 1fr 120px 60px;
}
.table th {
    padding: 8px;
    font-weight: var(--normal-weight);
    font-size: var(--ex-small-size);
    color: var(--secondary-color-opacity);
    font-weight: 600;
}
.table > tbody {
    padding: 12px;
    text-align: left;
    border-radius: 0 0 8px 8px;
    border: 1px solid var(--border-color);
}
.table tbody tr {
    display: flex;
    justify-content: stretch;
}
.table tbody td {
    position: relative;
    padding: 8px;
    width: 100%;
}
td button {
    width: 100%;
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    color: var(--secondary-color);
    font-weight: var(--link-weight);
    font-family: "Inter", sans-serif;
}
.table tbody td svg {
    height: 24px;
    width: 24px;
    transform: rotate(-90deg);
    fill: var(--secondary-color-opacity);
    transition: 500ms;
}
.table tbody td button.actived {
    border-radius: 6px 6px 0 0;
}
.table tbody td button.actived svg {
    transform: rotate(0);
    transition: 500ms;
}
.table tbody .dropdownDiv {
    position: absolute;
    width: 100%;
    border: 1px solid var(--border-color);
    border-top: 0;
    box-sizing: border-box;
    opacity: 0;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: stretch;
}
table tbody td.tasks {
    padding: 12px;
    font-size: var(--ex-small-size);
    color: var(--secondary-color-opacity);
}
.table tbody .dropdownDiv.actived {
    position: relative;
    opacity: 1;
    transition: 500ms;
}
.tableSec {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
}
.tableSec tr {
    padding: 12px 0;
    border-bottom: 1px solid var(--border-color)
}