.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 920px;
}
.hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero .text a {
    text-decoration: none;
    padding: 12px;
    border-radius: 4px;
    color: #fff;
    background: var(--main-color);
}
.hero.true {
    flex-direction: row-reverse;
}
.hero .imgDiv img {
    max-width: 90%;
}
.hero ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}