.template {
    display: flex;
    flex-direction: column;
}
@media (min-width: 862px) {
    .template {
        display: grid;
        grid-template-columns: 240px 1fr;
    }
}
@media (max-width: 425px) {
    .template {
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }
}