.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 0 0;
}
.title h3 {
    color: var(--secondary-color)
}
.title a {
    color: var(--main-color);
    font-size: var(--small-size);
    text-decoration: none;
    font-weight: var(--link-weight);
}
@media (max-width: 425px) {
    .title h3 {
        font-size: var(--small-size);
    }
}